Form {
 display: block;
}

Label {
  
  font-weight: bolder;
  color: #ffffff;
  text-shadow: 1px 1px rgba(50.2, 0, 12.5,1);

}

Input {
  max-width: 95%;
  background-color: rgba(255, 255, 255, 0.7) !important;
  color: rgb(0, 0, 0) !important;
}

.btn {
  width: fit-content !important;
  background-color: rgba(50.2, 0, 12.5,1);
  color: white;
  left: 50%;
  right: 50%;
}

.formCol {
  float: left;
  width: 50%;
}

.addWine {

  background-color: rgba(250,242,197,0);
  padding-top: .5em;
  padding-bottom: .5em;
}

.header {
  color: #222;
  margin: 0.5em;
}

.center {
  display: flex;
}

.screen {
  width: 100% !important;
  height: 100% !important;
}

.main {
  background: rgba(255, 255, 255, 0);
  padding-top: 0em;
}

.components {
  background: rgba(50.2, 0, 12.5, 0.9);
  background-size: cover;
  width: 100%;
  color: white;
  padding: 0em;
  margin-left: 0.5em;
  margin-right: 0.5em;

}

.map {
  padding: 0em;
  background: rgba(50.2, 0, 12.5, 0);
}

.filters { 
  margin-right: 1em;
  margin-left: 1em;
  background: rgba(50.2, 0, 12.5, 0.9);
  float: right !important;
}

.labelColorChange {
  color: rgba(50.2, 0, 12.5,1);
  text-shadow: 1px 1px rgba(50.2, 0, 12.5, 0.2);
}

@media only screen and (max-width: 1000px){
  .labelSmall {
    color: rgba(50.2, 0, 12.5,1);
    text-shadow: 1px 1px rgba(50.2, 0, 12.5, 0.2);
  }
}

@media only screen and (max-width: 400px){
  .iAmSpecial {
    color: rgba(50.2, 0, 12.5,1);
    text-shadow: 1px 1px rgba(50.2, 0, 12.5, 0.2);
    padding-bottom: 23px;
  }
}